<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>行为</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>驻留通知栏</string>
			<key>Key</key>
			<string>nov</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>复制以后退出程序</string>
			<key>Key</key>
			<string>copyclose</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>驻留通知栏功能需要您在系统通知设置中允许本程序发送通知，并设置提醒样式为无，并且在通知中心中显示。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>界面设置(需要重启程序)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>允许使用自定义图片作为主题</string>
			<key>Key</key>
			<string>cpic</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>启用阴影和发光效果</string>
			<key>Key</key>
			<string>css</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>缩放拉伸</string>
				<string>缩放居中</string>
				<string>填充(推荐)</string>
				<string>居中</string>
				<string>底端对齐</string>
				<string>顶端对齐</string>
				<string>左对齐</string>
				<string>右对齐</string>
				<string>左上对齐</string>
				<string>右上对齐</string>
				<string>左下对齐</string>
				<string>右下对齐</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>后底图缩放方式</string>
			<key>Key</key>
			<string>psz0</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>缩放拉伸</string>
				<string>缩放居中</string>
				<string>填充(推荐)</string>
				<string>居中</string>
				<string>底端对齐</string>
				<string>顶端对齐</string>
				<string>左对齐</string>
				<string>右对齐</string>
				<string>左上对齐</string>
				<string>右上对齐</string>
				<string>左下对齐</string>
				<string>右下对齐</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>前底图缩放方式</string>
			<key>Key</key>
			<string>psz1</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>左侧库始终显示</string>
			<key>Key</key>
			<string>showLib</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>数据源设置</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>每天</string>
				<string>每三天</string>
				<string>每周</string>
				<string>每半个月</string>
				<string>每月</string>
				<string>手动</string>
			</array>
			<key>Values</key>
			<array>
				<integer>86400</integer>
				<integer>259200</integer>
				<integer>604800</integer>
				<integer>1296000</integer>
				<integer>2592000</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>源检查更新方式</string>
			<key>Key</key>
			<string>dataupdatemode</string>
			<key>DefaultValue</key>
			<integer>604800</integer>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>使用源管理器</string>
			</array>
			<key>Values</key>
			<array>
				<string>&lt;c&gt;</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>源地址</string>
			<key>Key</key>
			<string>sources</string>
			<key>DefaultValue</key>
			<string>&lt;c&gt;</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>当前版本：0.1</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>每天</string>
				<string>每三天</string>
				<string>每周</string>
				<string>每半个月</string>
				<string>每月</string>
				<string>手动</string>
			</array>
			<key>Values</key>
			<array>
				<integer>86400</integer>
				<integer>259200</integer>
				<integer>604800</integer>
				<integer>1296000</integer>
				<integer>2592000</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>程序检查更新方式</string>
			<key>Key</key>
			<string>appupdatemode</string>
			<key>DefaultValue</key>
			<integer>604800</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>接收ipa版更新</string>
			<key>Key</key>
			<string>autoupdate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>程序作者：(null) ← 暂时懒得打自己昵称XD </string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
