<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Cloud emoticon</string>
	<key>StringsTable</key>
	<string>Root.strings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Behaviors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Stays in notification</string>
			<key>Key</key>
			<string>nov</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Closes after copy</string>
			<key>Key</key>
			<string>copyclose</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Safe mode (one-time)</string>
			<key>Key</key>
			<string>safemode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Stays in notification note</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UI</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow customized images as theme</string>
			<key>Key</key>
			<string>cpic</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable shadowing</string>
			<key>Key</key>
			<string>css</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Scale To Fill</string>
				<string>Scale Aspect Fit</string>
				<string>Scale Aspect Fill</string>
				<string>Redraw</string>
				<string>Center</string>
				<string>Top</string>
				<string>Bottom</string>
				<string>Left</string>
				<string>Right</string>
				<string>Top Left</string>
				<string>Top Right</string>
				<string>Bottom Left</string>
				<string>Bottom Right</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background scaling style</string>
			<key>Key</key>
			<string>psz0</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Scale To Fill</string>
				<string>Scale Aspect Fit</string>
				<string>Scale Aspect Fill</string>
				<string>Redraw</string>
				<string>Center</string>
				<string>Top</string>
				<string>Bottom</string>
				<string>Left</string>
				<string>Right</string>
				<string>Top Left</string>
				<string>Top Right</string>
				<string>Bottom Left</string>
				<string>Bottom Right</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
			<key>Title</key>
			<string>Foreground scaling style</string>
			<key>Key</key>
			<string>psz1</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always show repositories on the left</string>
			<key>Key</key>
			<string>showLib</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Repository URL</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Everyday</string>
				<string>Every three days</string>
				<string>Every week</string>
				<string>Every half month</string>
				<string>Every month</string>
				<string>Manually</string>
			</array>
			<key>Values</key>
			<array>
				<integer>86400</integer>
				<integer>259200</integer>
				<integer>604800</integer>
				<integer>1296000</integer>
				<integer>2592000</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Automatic update data</string>
			<key>Key</key>
			<string>dataupdatemode</string>
			<key>DefaultValue</key>
			<integer>604800</integer>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Use repository manager</string>
			</array>
			<key>Values</key>
			<array>
				<string>&lt;c&gt;</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Repository URL</string>
			<key>Key</key>
			<string>sources</string>
			<key>DefaultValue</key>
			<string>&lt;c&gt;</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Auto</string>
				<string>uuu.moe</string>
			</array>
			<key>Values</key>
			<array>
				<string></string>
				<string>http://uuu.moe/</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>server</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Ad display frequency</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>ad</string>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>MinimumValue</key>
			<integer>30</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
	</array>
</dict>
</plist>
